/*--------------------------Forms--------------------------*/

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.form-fields{
    margin-bottom: 20px !important;
    width:100% !important;
}

.form-card{
    /* background-color: #fbf6ec; */
        background-color: #f1f0ec !important;

}
/*--------------------------Login--------------------------*/

.login-form{
    padding: 3rem;
}

.hide-error{
    visibility:hidden !important;
}   

.alert{
    margin-top: 1.5rem;
}

/*--------------------------Filter--------------------------*/

.offer-form{
    text-align: center;
    /* padding:3% 6%; */
}

.filter-header{
    padding:1.5rem;
}

.filter-submit{
    width: 100%;
    margin-bottom: 20px !important;
    margin:auto;
}

/*--------------------------PlansTable--------------------------*/

.table-paper{
    background-color: #d6e2de !important;
}

.table-rows{
    background-color: #e7eae7 !important;
}

.export-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 1.3rem;
}

.export-btn{
    justify-self: flex-end;

}

.export-link{
    text-decoration: none;
    font-size: 0.8rem;
}

.export-link:any-link{
    color:#504538;
}

.export-link:link{
    color:#504538 !important;
}








