.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.login-form{
    padding: 3rem;
}

.login-field{
    margin-bottom: 20px !important;
    width:100% !important;
}

.hide-error{
    display:none !important;
}
